#gameWindow {
  background-image: url(assets/sprites/background-day.png);
  text-align: center;
  position: relative;
  background-position: center bottom;
  width: 500px;
  height: 512px;
  border: 3px solid green;
  font-size: calc(10px + 2vmin);
  color: black;
  overflow: hidden;
}