#playerSprite {
    position: absolute;
    width: 34;
}

#pipesBothFirst {
    position: absolute;
    bottom: 0;
}

#pipesBothSecond {
    position: absolute;
    bottom: 0;
}

#pipesBothThird {
    position: absolute;
    bottom: 0;
}

#pipeUpperFirst, #pipeLowerFirst, #pipeUpperSecond, #pipeLowerSecond, #pipeUpperThird, #pipeLowerThird {

    position: absolute;
}

#ground {
    height: 112px;
    max-width: 500px;
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    z-index: +1;
  }