#playerSprite {
    position: absolute;
    left: 200px;
    top: 100px
}

.pipesBoth {
    position: absolute;
    right: 0;
    bottom: 0;
}

#pipeUpper, #pipeLower {

    position: absolute;
}

#score {

    position: absolute;
    font-family: 'Courier New', monospace;
    border: 2px solid green;
    width: 200px;
    height: 50px;
    left: 0px;
}