#playerSprite {
    position: absolute;
    width: 34;
}

#pipesBothFirst {
    position: absolute;
    bottom: 0;
}

#pipesBothSecond {
    position: absolute;
    bottom: 0;
}

#pipesBothThird {
    position: absolute;
    bottom: 0;
}

#pipeUpperFirst, #pipeLowerFirst, #pipeUpperSecond, #pipeLowerSecond, #pipeUpperThird, #pipeLowerThird {

    position: absolute;
}